* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #232529;
    --white: #fffcf9;
    --gold: #b6a179;

    --font-body: 'Poppins', sans-serif;
    --font-title: 'Prata', serif;

    --background-body: var(--white);
    --color-body: var(--black);
}

body {
    font-family: var(--font-body);
    color: var(--color-body);
    background-color: var(--background-body);
}

.btn {
    display:inline-block;
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--gold);
    text-decoration: none;
    transition: background-color .3s, color .3s;
}
    .btn:not(.g-btn):hover {
        background-color: var(--gold);
        color: var(--black)
    }

.g-btn {
    display:inline-block;
    background-color: transparent;
    color: var(--black);
    position:relative;
    z-index: 1;
}
    .g-btn:before {
        content: '';
        position:absolute;
        background-color: var(--gold);
        opacity: .2;
        width: calc(100% - 30px);
        height:50%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

.arr-link {
    color: var(--gold);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
    .arr-link span{
        color: var(--black);
        text-decoration: underline;
        font-size:1rem;
        font-weight: normal;
    }

.ft {
    font-family: var(--font-title);
}

.gt {
    color: var(--gold);
}

h1 {
    font-size: 2rem;
}
/* ---------------------------------------------------- NAV */

#main-nav {
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #main-nav a:not(.btn) {
        text-decoration: none;
        color: var(--black);
    }
    #main-nav .btn {
        margin-left: 20px;
    }
    #main-nav > a {
        font-size: 2rem;
        font-weight: bold;
    }
    #main-nav ul {
        display:flex;
        list-style-type: none;
    }
        #main-nav .active {
            position:relative;
        }
            
        #main-nav li a {
            display:block;
            padding: 10px 20px;
        }

/* ---------------------------------------------------- FIRST SECTION */

#first-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 20px;
    gap: 20px;
}
    #first-section img {
        width: 100%;
        box-shadow: -10px 10px 30px rgba(0,0,0,.2);
    }
    #first-section .pics {
        grid-row: 1 / span 2;
        grid-column: 2;
    }
        #first-section figure img{
            height: 100%;
            object-fit: cover;
        }
.cell {
position: relative;
}
.cell.bottom {
    align-self: end;
}
    .cell.decale img {
        margin-left: -50px;
        transform: translateY(30px);
    }
    .cell.decale figcaption {
        margin-left: -50px;
        position: absolute;
        left: 100%;
        bottom:0;
        transform-origin: bottom left;
        transform: rotate(-90deg) translateY(110%) translateX(-30px);
        font-weight: bold;
        display:block;
        width: fit-content;
        font-size: .8rem;
    }