* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #232529;
    --white: #f0e0da;
    --gold: #b6a179;

    --font-body: sans-serif;
    --font-title: serif;

    --background-body: var(--white);
    --color-body: var(--black);
}

body {
    font-family: var(--font-body);
    color: var(--color-body);
    background-color: var(--background-body);
}