* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #232529;
    --white: #fffcf9;
    --grey: #ece9e3;
    --gold: #b6a179;

    --font-body: 'Poppins', sans-serif;
    --font-title: 'Prata', serif;

    --background-body: var(--white);
    --color-body: var(--black);

    --shadow: -10px 10px 50px rgba(0,0,0,.2);
}

body {
    font-family: var(--font-body);
    color: var(--color-body);
    background-color: var(--background-body);
}
    body::after {
        content: '';
        display: block;
        position: absolute;
        left:0;
        top: 0;
        height: 100%;
        width: 12px;
        background-color: var(--gold);
    }
.btn {
    display:inline-block;
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--gold);
    text-decoration: none;
    transition: background-color .3s, color .3s;
}
    .btn:not(.g-btn):hover {
        background-color: var(--gold);
        color: var(--black)
    }

.g-btn {
    display:inline-block;
    background-color: transparent;
    color: var(--black);
    position:relative;
    z-index: 1;
    transition:font-weight .3s;
}
    .g-btn:before {
        content: '';
        position:absolute;
        background-color: var(--gold);
        opacity: .2;
        width: calc(100% - 30px);
        height:50%;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition:all .3s;
    }

    .btn.g-btn:hover:before {
        transform: translateY(-100%) translateX(30px);
    }
    .btn.g-btn:hover {
        font-weight: bold;
    }

.arr-link {
    color: var(--gold);
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: bold;
}
    .arr-link span{
        color: var(--black);
        text-decoration: underline;
        font-size:1rem;
        font-weight: normal;
        transition:padding .3s;
    }
            .arr-link:hover span{
                padding-right: 10px;
            }

.ft {
    font-family: var(--font-title);
}
.wt {
    color: var(--white);
}
.gt {
    color: var(--gold);
}


.bz {
    background-color: var(--black);
}
.gz {
    background-color: var(--grey);
}
h1 {
    font-size: 2.5rem;
}
/* ---------------------------------------------------- NAV */

#main-nav {
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #main-nav a:not(.btn) {
        text-decoration: none;
        color: var(--black);
    }
    #main-nav .btn {
        margin-left: 20px;
    }
    #main-nav > a {
        font-size: 2rem;
        font-weight: bold;
    }
    #main-nav ul {
        display:flex;
        list-style-type: none;
    }
        #main-nav .active {
            position:relative;
        }
            
        #main-nav li a {
            display:block;
            padding: 10px 20px;
        }

/* ---------------------------------------------------- FIRST SECTION */

#first-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 20px 10% 150px;
    gap: 20px;
    background: left bottom / 250px no-repeat url(../img/flower_bkg.jpg);
}
    #first-section img {
        width: 100%;
        box-shadow: var(--shadow);
    }
    #first-section .pics {
        grid-row: 1 / span 2;
        grid-column: 2;
    }
        #first-section figure img{
            height: 100%;
            object-fit: cover;
        }
.cell {
position: relative;
}
.cell.bottom {
    align-self: end;
}
    .cell.decale img {
        margin-left: -50px;
        transform: translateY(30px);
    }
    .cell.decale figcaption {
        margin-left: -50px;
        position: absolute;
        left: 100%;
        bottom:0;
        transform-origin: bottom left;
        transform: rotate(-90deg) translateY(110%) translateX(-30px);
        font-weight: bold;
        display:block;
        width: fit-content;
        font-size: .8rem;
    }

@media (max-width: 950px) {
    #first-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }
    #first-section .pics {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

        .cell:nth-child(2) {
            order: 2;
        }
        .cell.decale {
            order: 4;

        }
            .cell.decale img {
                margin-left: 0;
                transform: translateY(-30px) translateX(30px);
            }
            .cell.decale figcaption {
                margin-left: 0;
                left: 30px;
                transform: translateY(0);
            }

}

@media (max-width: 600px) {
    #first-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    #first-section .pics {
        grid-row: 3;
        grid-column: 1;
    }
    .cell.decale img {
        margin-left: 0;
        transform: translateY(0) translateX(0);
    }
    .cell.decale figcaption {
        margin-left: 0;
        left: 30px;
        transform: translateY(0);
    }


}

/* ---------------------------------------------------- SLIDER SECTION */

#slider {
    position:relative;
}
#slider > * {
    position:relative;
    z-index: 1;
}

#slider:after {
    content: '';
    z-index: 0;
    display:block;
    position:absolute;
    width: 100%;
    height: 90%;
    background-color: var(--grey);
    bottom: 0;
    left: 0;
}
#slider .bz {
    width: 70%;
    padding: 50px 10% 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    #slider .bz h2 {
        grid-column: 1 / span 2
    }
    #slider .bz p {
        padding: 10px 20px;
        font-size: .8rem;
    }

    .cards {
        padding: 30px 0 100px 10%;
        margin-top: -150px;
    }
    .cards-list {
        display:flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;  /* Firefox */
    }
    .cards-list::-webkit-scrollbar {
        display:none; /* Chrome, Edge, Opera */
    }
        .card {
            display:block;
            margin-right: 50px;
            background-color: var(--white);
            box-shadow: var(--shadow);
            position:relative;
            scroll-snap-align: start;
        }
            .card img {
                vertical-align: middle;
                width:300px;
                max-width: 30vw;
            }
            .identity {
                padding: 0 20px;
                position:absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: var(--white);
            }
            .card:hover .message {
                max-height: 170px;
                padding: 10px 0;
                overflow-y: scroll;
            }
            .message {
                max-height: 0;
                overflow-y: hidden;
                padding: 0;
                margin-top: 10px;
                font-size: .75rem;
                border-top: solid 1px var(--grey);
                transition: padding .3s, max-height .3s;
            }
            .identity img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-top: -25px;
            }

@media (max-width: 750px) {
    #slider .bz {
        width: 85%;
    }
        #slider .bz p {
            grid-column: 1 / span 2
        }
    
}